ul#view{
	min-height: 100px;
	
	padding: 3px;
	margin: 0;
}

li.view{
	display: inline-table;
	text-align: center;
	background-color: white;
	
	margin: 2px;
	padding: 5px;
	
	border: 1px solid black;
	
	width: 150px;
	height: 210px;
}
li.view h1{
	cursor: move;
}
ul#libary{
	padding: 3px;
	margin: 0;
}
li.libary{
	display: inline-table;
	text-align: center;
	background-color: white;
	
	margin: 2px;
	padding: 5px;
	
	border: 1px solid black;
	
	width: 150px;
	height: 40px;
	
	cursor: pointer;
}
li.libary p{
	display: none;
}
li h1{
	padding-top: 8px;
	margin: 0;
	
	width: 100%;
	height: 20px;
	
	background-color: #ddd;
}
ul#trash{
	vertical-align: baseline;
	
	padding: 0;
	margin: 0;
	width: 150px;
	height: 150px;

	background-image: url('../img/trash.png');
	background-position: center;
	background-repeat: no-repeat;
}
p.libary{
	width: 150px;
	text-align: left;
}