.tip {
	z-index: 5000;
	width: 200px; 
	color: #FFFFFF;
}

.tip-top
{
	height:10px;
	width:200px;
	BACKGROUND: url(../img/tip_head.gif) left top;
	background-repeat:no-repeat;
}

.tip-title {
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px; 
	PADDING-TOP: 0;
	PADDING-BOTTOM: 4px; 
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	background-color:#000000;
}
.tip-text {
	PADDING-RIGHT: 8px; 
	PADDING-LEFT: 8px;  
	PADDING-BOTTOM: 0;
	PADDING-TOP: 0;
	FONT-SIZE: 11px; 
	BACKGROUND: #000000;
}

.tip-bottom
{
	height:10px;
	width:200px;
	background-image:url(../img/tip_bottom.gif);
	background-position: left bottom;
	background-repeat:no-repeat;
}