td.news_title
{
	font-size: 14px;
	font-weight: bold;
}

td.news_date
{
	font-size: 9px;
	font-style: italic;
	
	text-align: right;
}

tr.news_option td
{
	padding-bottom: 10px;
	text-align: right;
	
	border-bottom: 1px dotted black;
}

tr.news_space td
{
	padding-bottom: 15px;
	margin: 0px;
}