/************************************/
/* Allgemein */
/***********************************/
.bgcolor { 
	background:white; }
	
.bgcolor_content { 
	background:#e6efff; }
	
.textcolor { 
	color: black; }
	
a{ 
	color:black; }
	
.textcolor_on_bg { 
	color:white; }

div.content_box_head{ 
	background-color:#335588; 
	color:white; }

.red{ color:#FF3333; }
.green{ color:#00AA00; }	
	
/************************************/
/* Menü */
/***********************************/
div.menu_box
{
	background:#e6efff;
	color:black;
	border:1px #335588 solid;

}

div.menu_title{
	color:white;
	background-color:#335588;
}

div.menu_box *
{
	color:black;
}

/* Grobprogramm */
.bgcolor_gp_dark
{	background:#e6efff;	} 

.bgcolor_gp_bright
{	background:#B2C5E3;	} 


/************************************/
/* Detailprogramm */
/***********************************/
.bgcolor_dp_dark
{	background:#009900;	}

.bgcolor_dp_bright
{	background:#00CC00;	} /* 00CC000 */

.textcolor_dp_bright
{	color:white;	}

.d_program_tag_title
{
	border:thin black solid;
	background:black;
}

.d_program
{ color:black; }

div.d_program_border
{
	border-top, border-left, border-right: 2px red solid;
	
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
}


/* Formulare */
input[type="text"], input[type="password"], select { 
	background:white; 
	border:1px black solid;
	}
	
input[type="button"], input[type="submit"] {  }

input.showtext { background:white; }  
input.askedit { background:orange; } /* Farbveränderung bei aktiver Eingabe */