div.content_box_head
{
	height:20px;
	font-weight:bold;
	text-align:center;
}

div.content_box_full, div.content_box_fit
{
	padding:5px;
	padding-top:10px;

	text-align:left;
}

div.content_border_fit, div.content_border_full
{	
	border:1px #000000 solid;
	width:100%;
}

div.content_border_full
{
	height:100%;
	position:absolute;
}
