div.day_left
{
	position:absolute;
	top:0px;
	left:0px;
	width:200px;
}

div.day_right
{
	position:absolute;
	top:0px;
	left:205px;
	right:0px;
}

tbody#day_event_list tr:hover
{
	background-color: #dddddd;
}