/************************************/
/* Allgemein */
/***********************************/
.bgcolor { 
	background:#335588; }
	
.bgcolor_content { 
	background:#4477BB;; }
	
.textcolor { 
	color: black; }
	
a{ 
	color:black; }
	
.textcolor_on_bg { 
	color:white; }

div.content_box_head{ 
	background-color:black; 
	color:white; }
	
.red{ color:#FF6655; }
.green{ color:#00CC00; }
	
.header
{	background:url(../img/top_background_new.gif);	}

/************************************/
/* Menü */
/***********************************/
div.menu_box
{
	background:#4477BB;
	color:black;
	border:1px black solid;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
}

div.menu_box *
{
	color:black;
}

/* Grobprogramm */
.bgcolor_gp_dark
{	background:#4477BB;	} 

.bgcolor_gp_bright
{	background:#3366AA;	} 


/* Detailprogramm */
.bgcolor_dp_dark
{	background:#009900;	}

.bgcolor_dp_bright
{	background:#00CC00;	}

.textcolor_dp_bright
{	color:#00CC00;	}


/* Formulare */

input[type="text"], input[type="password"], textarea, select { 
	background:white; 
	border:1px black solid;
	}
	
input[type="button"], input[type="submit"] {  }

textarea.showtext, input.showtext { background:white; }  
textarea.askedit, input.askedit { background:orange; } /* Farbveränderung bei aktiver Eingabe */