*{
	font-family: Verdana;
	font-size:11px;
}

a{
	text-decoration:none;
}


/*******************************/
/*  BOX                        */
/*******************************/

div.content_box_head
{
	height:16px;
	font-weight:bold;
	text-align:center;
}

div.content_border_fit
{
	/*position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	*/
	/*width: 98%;*/
	
	border:1px black solid;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
}

div.content_border_full
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	/*
	width: 99%;
	height: 99%;
	*/
	
	border:1px black solid;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
}

div.content_box_fit, div.content_box_full
{
	padding:5px;
	padding-top:10px;
	
}
