div.d_program_wait
{
	
	background-image:url(../../../global/img/wait.gif); 
	background-position:center; 
	background-repeat:no-repeat; 
	
	position:absolute; 
	left:0px; 
	right:0px; 
	top:0px; 
	bottom:0px
}

div.d_program_transp
{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	
	background-image:url(../../../global/img/transparent.png);
	z-index:99;
}

div.d_program
{
	position:fixed;
	top:40px;
	left:100px;
	right:100px;
	bottom:0px;
}
/*
*.input_show, *.input_edit
{	border:#000000 dotted 1px;	}
*/


div.d_program_border
{
	position:absolute;
	top:18px;
	left:0px;
	right:0px;
	bottom:-6px;
	
	border-top: 2px #000000 solid;
	border-left: 2px #000000 solid;
	border-right: 2px #000000 solid;
	
	-moz-border-radius:6px;
	-khtml-border-radius:6px;
	
	z-index:100;
	
}

div.d_program_content
{
	position:absolute;
	top:0px;
	left:5px;
	right:5px;
	bottom:6px;
	
	padding-top:25px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:15px;
	
	overflow:auto;
	
	z-index:100;
	
	
}

div.d_program_close
{
	position:absolute;
	top:8px;
	right:30px;
	height:16px;
	width:110px;
	
	border:2px #000000 solid;
	
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	
	background:#FFFFFF;
	
	font-weight:bold;
	text-align:center;
	vertical-align:bottom;
	vertical-align:middle;
	padding-top:2px;
	
	overflow:hidden;
	
	z-index:100;
	
	
}
div.d_program_title
{
	position:absolute;
	top:0px;
	left:100px;
	height:32px;
	width:300px;
	
	font-size:24px;
	
	border:2px #000000 solid;
	
	-moz-border-radius:16px;
	-khtml-border-radius:16px;
	
	background:#FFFFFF;
	
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	
	overflow:hidden;
	
	z-index:100;
	
	
}

div.d_program_tag_title
{
	
	left:0px;
	right:0px;
	top:0px;
	height:15px;
	
	padding-left:4px;
	
	border:thin #000000 solid;
	background:#000000;
	
	text-align:left;
	font-weight:bold;
}

div.d_program_grey
{
	left:5px;
	right:5px;
	
	
	border:thin #000000 solid;
	
	margin-bottom:10px;
	
	text-align:left;
	
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
}

div.d_program_white
{
	left:5px;
	right:5px;
	
	margin-bottom:10px;
	
	text-align:left;
}

div.d_program_table
{
	display:table;
	width:100%;
	padding:2px;
}

div.d_program_row
{
	display:table-row;
	width:100%;
	vertical-align:top;
}

div.d_program_cell_time
{
	display:table-cell;
	width:150px;
	vertical-align:top;
	padding-left:5px;
	padding-right:5px;
}

div.d_program_cell_content
{
	display:table-cell;
	width:auto;
	vertical-align:top;
	padding-left:5px;
	padding-right:5px;
}

div.d_program_cell_resp
{
	display:table-cell;
	width:150px;
	vertical-align:top;
	padding-left:5px;
	padding-right:5px;
}

div.d_program_cell_option
{
	display:table-cell;
	width:100px;
	vertical-align:top;
	padding-left:5px;
	padding-right:5px;
}

a.handle
{	cursor:move;	}

div#dp_main_left
{
	width:70%;
	display:table-cell;
	padding-right:10px
}

div#dp_main_right
{
	width:30%;
	display:table-cell;
	padding-left:10px;
}



