a{
	text-decoration:none;
}

/* Menü */
div.menu_box a
{
	color:navy;
}

/*******************************/
/*  BOX                        */
/*******************************/
div.content_border_fit, div.content_border_full
{
	border:1px #335588 solid;
}

div.content_border_full
{  height:100%; }

div.content_box_fit, div.content_box_full
{
	padding:5px;
	padding-top:10px;
}

/* Sonstiges */
.action-button-text, .action-button-text-gray
{
    padding-top:5px;
    float:left;
	height:20px;
	color:brown;
}

.action-button-text-gray{ color:#444444}

.action-button-left, .action-button-right{
    float:left;
	width: 5px;
	height: 25px;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}